// 颜色定义规范
$color-background = #f6f7fa
$color-background-d = rgb(236, 236, 236)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #FF9645
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #d93f30
$color-sub-price = #fe8e3e
$color-danger = #f4c52
$color-text = #191919
$color-text-heavy = #262626
$color-text-d = #666
$color-text-l = #999
$color-text-ll = #dadada
$color-line-l = #e7e7e7
$color-line-h = #dadada

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px

// 暗黑模式
$darkmode-color-line-l = #2c2c2c
$darkmode-color-line-h = #404040
$darkmode-color-text = #dcdcdc
$darkmode-color-text-d = #8d8d8d
$darkmode-color-text-l = #666
$darkmode-color-text-ll = #404040
$darkmode-color-bg = #121212
